@import "ui-variables";
@import "syntax-variables";

atom-text-editor {
  .relative-line-numbers2-row {
    position: relative;
    white-space: nowrap;
    // padding-left: .5em;
    opacity: 0.6;

    &.cursor-line {
      opacity: 1;
    }
    // /* Take up the full allowed width */
    // left: 0;
    // right: 0;
    // display: flex;
    // // align-items: right;
    // justify-content: right;
    color: @syntax-color-added;
  }
}
